APP_NAME=CINTAC ComexControl API

ENVIRONMENT=development

DATABASE_URL=sqlite:///./comexcontrol.db

SECRET_KEY=CAMBIAR_POR_UNA_CLAVE_SEGURA_DE_MINIMO_32_CARACTERES

ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:5173

MAX_UPLOAD_MB=5

BOOTSTRAP_ADMIN_NAME=Administrador ComexControl
BOOTSTRAP_ADMIN_EMAIL=admin@cintac.cl
BOOTSTRAP_ADMIN_PASSWORD=CambiarClave123!